<app-header [title]="'Parceiros'" [caption]="'Nessa página você poderá consultar e cadastrar parceiros.'"></app-header>

<div class="form-button">
    <p-button label="Cadastrar Parceiro" icon="pi pi-plus" (click)="addPartner()" class="button"></p-button>
</div>

<p-toast key="shareAlert"></p-toast>
<p-confirmDialog></p-confirmDialog>
<div class="card">
    <p-table [value]="partners" [paginator]="true" [rows]="10" [(first)]="first" [(rows)]="rows" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '50rem'}"
        currentPageReportTemplate="Mostrando de {first} até {last} de {totalRecords} parceiro" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:20%">Name</th>
                <th style="width:20%">Descrição</th>
                <th style="width:20%">Repositório Git</th>
                <th style="width:20%">Documentações</th>
                <th style="width:10%">Cadastrado em</th>
                <th style="width:10%">Opções</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-partner>
            <tr>
                <td title="{{partner.name}}">{{partner.name}}</td>
                <td title="{{partner.description}}">{{partner.description}}</td>
                <td title="{{partner.repositoryGit}}">{{partner.repositoryGit}}</td>
                <td title="{{partner.urlDoc}}">{{partner.urlDoc}}</td>
                <td title="{{partner.createdAt | date: 'dd/MM/yyyy HH:mm'}}">{{partner.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>
                    <span class="options">
                        <a class="option" (click)="editPartner(partner.id)">Editar</a>
                        <a class="option" (click)="viewPartner(partner.id)">Visualizar</a>
                        <a class="option" (click)="deletePartner(partner.id, partner.name)">Excluir</a>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-share-alt" label="Compartilhar Página" styleClass="p-button-text" (onClick)="sharePage(first, rows)"></p-button>
        </ng-template>
    </p-table>
</div>
