<app-header [title]="headerTitle" [caption]="headerCaption"></app-header>

<p-toast></p-toast>
<div class="container">
    <div class="card">
        <form [formGroup]="partnerForm" *ngIf="!errorMessage && partnerForm else errorMessageContainer">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="name" [ngClass]="{'invalid': partnerForm.get('name')?.errors && partnerForm.get('name')?.touched}">
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <input type="description" class="form-control" id="description" name="description" formControlName="description" [ngClass]="{'invalid': partnerForm.get('description')?.errors && partnerForm.get('description')?.touched}">
            </div>
            <div class="form-group">
                <label for="repositoryGit">Repositório Git</label>
                <input type="text" class="form-control" id="repositoryGit" name="repositoryGit" formControlName="repositoryGit" [ngClass]="{'invalid': partnerForm.get('repositoryGit')?.errors && partnerForm.get('repositoryGit')?.touched}">
            </div>
            <div class="form-group">
                <label for="urlDoc">URL da Documentação</label>
                <input type="text" class="form-control" id="urlDoc" name="urlDoc" formControlName="urlDoc" [ngClass]="{'invalid': partnerForm.get('urlDoc')?.errors && partnerForm.get('urlDoc')?.touched}">
            </div>
            <div formArrayName="clients" class="form-group">
                <label>Clientes</label>
                <div class="array-group">
                    <div class="array" *ngFor="let client of clients.controls; let i = index">
                        <input type="text" class="form-control" [formControlName]="i" [ngClass]="{'invalid': clients.at(i).errors}">
                        <a class="pi pi-times btn-delete" title="Remover" (click)="removeClient(i)" *ngIf="!isViewMode"></a>
                    </div>
                </div>
                <div class="form-button add-button" *ngIf="!isViewMode">
                    <button type="button" (click)="addClient()">Adicionar Cliente</button>
                </div>
            </div>
            <div formArrayName="projects" class="form-group">
                <label>Projetos</label>
                <div class="array-group">
                    <div class="array" *ngFor="let project of projects.controls; let i = index">
                        <input type="text" class="form-control" [formControlName]="i" [ngClass]="{'invalid': projects.at(i).errors}">
                        <a class="pi pi-times btn-delete" title="Remover" (click)="removeProject(i)" *ngIf="!isViewMode"></a>
                    </div>
                </div>
                <div class="form-button add-button" *ngIf="!isViewMode">
                    <button type="button" (click)="addProject()">Adicionar Projeto</button>
                </div>
            </div>
            <div class="errors" *ngIf="!isViewMode">
                <p class="message" *ngIf="!partnerForm.valid && partnerForm.touched">
                    Preencha os campos obrigatórios para salvar! 
                </p>
            </div>
            <div class="form-button" *ngIf="!isViewMode">
                <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!partnerForm.valid">Salvar</button>
            </div>
        </form>

        <ng-template #errorMessageContainer>
        <div class="alert alert-danger" role="alert">
            <strong>Usuário não encontrado!</strong>
        </div>
        </ng-template>
    </div>
</div>
